<div class="w3-top">
  <div class="w3-bar w3-white w3-card">
    <a href="" class="w3-bar-item w3-button w3-wide"><img ></img>AGROWAN</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="/user_logout" class="w3-bar-item w3-button"><i class="fa fa-user"></i> LOGOUT</a>
    </div>
  </div>
</div>
<div class="main">
  <div class="locale">
    <div class="card">
      <h1 class="paragrafo-maior">Localização do nó 1</h1>
      <img id="locale1" src="/static/img/node1.jpg">
      <button id="" class="button">Acionar refrigeração</button>
      <button id="" class="button">Acionar umidificador</button>
    </div>
  </div>
  <div class="container">
    <div class="mx-auto my-5 w-50" style="padding-top: 5px;">
      <h1 class="paragrafo-maior">Nó 1</h1>
      <h4 class="paragrafo-menor">Intensidade do Sinal para o Nó 1 : <b><span id="rssi1"></span></b></h4>
    </div>
    <div class="row">
      <div class="column">
          <div class="card">
            <h2 class="card-title">Temperatura (ºC)</h2>
            <canvas id="Temperature"></canvas>
          </div>
      </div>
      <div class="column" style="padding-bottom: 20px; flex: 50%;">
          <div class="card">
            <h2 class="card-title">Umidade relativa do Ar (%)</h2>
            <canvas id="Humidity"></canvas>
          </div>
      </div>
    </div>
  </div>
  <div class="locale">
    <div class="card">
      <h1 class="paragrafo-maior">Localização do nó 2</h1>
      <img id="locale1" src="/static/img/node2.png">
      <button id="irrigacao" class="button disabled">Acionar irrigador</button>
    </div>
  </div>
  <div class="container" style="padding-bottom: 5px; background-color: #fff; border-radius: 5px;">
    <div class="mx-auto my-5 w-50" style="padding-top: 5px;">
      <h1 class="paragrafo-maior">Nó 2</h1>
      <h4 class="paragrafo-menor">Intensidade do Sinal para o Nó 2 : <b><span id="rssi2" ></span></b></h4>
    </div>
    <div class="row" style="display: flex;">
      <div class="column" style="padding-bottom: 20px; flex: 50%;">
        <div class="card w-50" style="margin: auto; padding: 10px;">
          <h2 class="card-title">Umidade do Solo (%)</h2>
          <canvas id="Moisture"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>